.about {
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 90rem;
        margin: 0 auto;
        gap: 5rem;
        padding: 0;
    
    }
    
    &__content {
        display: flex;
        gap: 3rem;
        align-items: flex-end;
        flex-direction: column;

        &.reverse {
            flex-direction: column-reverse;
        }

        &:first-child {
            margin-top: 6.25rem;
        }

        &:last-child {
            margin-bottom: 6.25rem;
        }
        
        &__image {
            object-fit: cover;
            width: 100%;

            img {
                width: 100%;
                height: auto;
                filter: invert(1);

                .light-mode & {
                    filter: invert(0);
                }
            }
        }
    
        &__txt {
            width: 100%;
            margin-bottom: 4rem;

            p,
            span {
                font-size: 1.25rem;
            }
        }
    }
}

@media (min-width: 48rem) {
    .about {
        &__container {
            gap: 8rem;
        }

        &__content,
        .reverse {
            flex-direction: row;

            &__image {
                width: 40%;
            }
    
            &__txt {
                width: 60%;
            }
        }
    }
}