.collapsible {
    position: relative;
    z-index: 5;
    cursor: pointer;
    width: 100%;
    padding: .94rem 1.25rem;
    background-color: transparent;
    border: none;   
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.38rem;
    transition: height 0.6s ease;
    overflow: hidden;

    &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 0;
        transition: all 0.6s ease;
        background-color: $violet;
    }

    &:hover {
        &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    &-content {
        max-height: 0rem;
        overflow: hidden;
        transition: max-height 0.1s ease;
    }

    &-elements {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 2.25rem 1.25rem;
    }

    &.open {
        transition: max-height 0.6s ease;
        max-height: 31.25rem;
    }

    &-container {
        width: 100%;
        padding: 1.5rem 0;
        transition: all 0.6s ease;
    }
    
    &-button {
        border-top: .06rem solid $violet;
        border-bottom: .06rem solid $violet;
    }
    
    &-button:first-of-type {
        border-top: .13rem solid $violet;
    }

    &-button:last-of-type {
        border-bottom: .13rem solid $violet;
    }
    
    &-btn {
        font-family: 'Mentra';
        font-size: 0.875rem;
        border: .13rem solid $violet;
        background-color: transparent;
        padding: .13rem .75rem;
        color: var(--white);
        border-radius: 3.13rem;
        letter-spacing: .03rem;
        transition: all 0.3s ease;

        &-container {
            position: absolute;
            bottom: 6px;
            right: 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            z-index: 3;
        }
    }

    &-title {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        gap: 1rem;
        
        .compteur {
            // align-self: flex-start;
            text-decoration: underline

        }

        .title {
            text-transform: uppercase;
            // font-size: 3.5rem;
            font-size: 5.5vw;
            transition: font-size 0.6s ease;
            // font-family: "mentra";
        }
    }

    &-content {
        max-height: 0rem;
        overflow: hidden;
        transition: max-height 0.1s ease;
    
        .collapsible-elements {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            padding: 2.25rem 1.25rem;

            p {
                font-size: 1.25rem;
            }
        }
    }

    &:hover {
        .background-title {
            opacity: 1;
            transform: translate(60%, 0%);
            filter: blur(0px);
        }

        .collapsible-btn {
            border-color: var(--white);
        }
    }

    .background-title {
        font-family: "mentra";
        position: absolute;
        right: 0;
        font-size: 120px;
        opacity: 0;
        transform: translate(62%, 10%);
        transition: all 0.6s ease,;
        color: rgba(255, 255, 255, 0.316);
        width: 2000px;
        filter: blur(5px);
        z-index: 2;
    }

    // &.fadeout {
    //     &::after {
    //         top: 0;
    //         transition: all 0.3s ease;
    //     }
    // }
}

@media (min-width: 48rem) {
    .collapsible {
        &-title {
            gap: 2rem;

            .title {
                font-size: 3.8vw;
            }
        }

        &-btn {
            &-container {
                position: initial;
                display: flex;
                align-items: center;
                gap: 1rem;
                z-index: 3;
            }
        }
    }


}

@media (max-width: 72.44rem) {
    .ReactModal__Body--open {
        overflow: hidden;
    }

    // .img-container.active {
    //     display: none;
    // }

    // .carousel-container {
    //     position: initial;
    // }

    .collapsible-content.open {
        display: none;
        
        .collapsible-elements {
            display: none;
        }
    }

    .img-container.active {
        display: none;
    }
}

@media (min-width: 72.44rem) {      
    .collapsible {
        &-container {
            width: 50%;
            padding: 1.5rem;
        }
        
        &-container:not(.active) {
            width: 100%;
        }
        
        &-container:has(.active) {
            width: 60%;
        }

        &-title {
            gap: 2rem;

            .title {
                font-size: 3.8vw;
            }
        }

        &-btn {
            &-container {
                position: initial;
                display: flex;
                align-items: center;
                gap: 1rem;
                z-index: 3;
            }
        }
        
        &-container:has(.active) {
            .collapsible {
                height: 4rem;
    
                &:hover {
                    .background-title {
                        opacity: 0;
                    }
    
                    &::after {
                        height: 0;
                    }
                }
    
                .title {
                    font-size: 1.5rem;
                }
    
                .compteur {
                    align-self: center;
                }
            }
        }

        &.active {
            height: 4rem;
    
            .collapsible-btn {
                background-color: $violet;
                color: white;
                border-color: white;
            }
    
            &:hover {
                .collapsible-btn {
                    background-color: $violet;
                    color: white;
                    border-color: white;
                }
            }
        
            .collapsible-title {
                color: $violet;
            }
        }

        &-content {
            &.open {
                transition: max-height 0.6s ease;
                max-height: 31.25rem;
            }
        }
    }
   
    .close-modal-btn {
        display: none;
    }
    
    .full-title {
        top: 12.5rem;
        right: -18.75rem;
        font-size: 18.75rem;
    }

    .collapsible-title {
        .title {
            font-size: 3.3vw;
        }
    }
}

@media (min-width: 80rem) {
}