footer {
    background-color: var(--black);
    color: var(--white);
    padding: 1.25rem 0;

    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        z-index: 1;
        // flex-direction: column-reverse;
        gap: 1.25rem;
        position: relative;
        margin-top: 70px;
    }

    .footer__content__right {
        align-self: flex-start;
    }

    .footer__content__left {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__btns {
            display: flex;
            gap: 1.5rem;
            position: absolute;
            top: -68px;
            left: 0;
            right: 0;
            padding: 0 1.5rem;

            button {
                width: 50%;
                margin: 0 !important;
            }
        }

        .btn-contact {
            margin-right: 20px;
            color: var(--black);
            border: 0;
        }
    }

    img {
        filter: invert(1);
        height: 1.5625rem;
        aspect-ratio: 1/1;
        border-radius: 0%;
    }

    .light-mode & img {
        filter: invert(0);
    }
}

@media screen and (min-width: 48rem) {
    footer {
        .footer__content {
            margin-top: 0;

            &__left {
                &__btns {
                    position: initial;
    
                    button {
                        width: auto;
                    }
                }
            }
        }
    }
}