.modalOpener {
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.ReactModal__Overlay {
    z-index: 1000;
}

.ReactModal__Content--after-open {
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    bottom: 0 !important;
    transform: none !important;
    background-color: var(--black) !important;
    color: var(--white) !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding-top: 4.125rem !important;
}

.modalContent {
    position: relative;

    .modal_information {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .modal_img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .625rem;
        }
    }

    .modal_title {
        display: flex;
        justify-content: space-between;
        gap: .625rem;

        p {
            font-size: 2rem;
            font-weight: 700;
        }

        .technologies_images {
            display: flex;
            gap: 1rem;
            margin-left: 1rem;

            img {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }

    .modal_text {
        margin-bottom: 9.25rem;
    }
}

.closeButton {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    z-index: 1;
    transition: color 0.3s;
    background-color: transparent;
    font-size: 3.125rem;
    line-height: 0.6;
    padding: 0;
}

@media (min-width: 72.44rem) {
    .ReactModal__Overlay {
        display: none;
    }

    .modalOpener {
        display: none;
    }

}