// used
@font-face {
    font-family: "Mentra";
    src: url("../font/mentra/MENTRA.woff2");
    font-weight: normal;
}

// used
@font-face {
    font-family: "CanelaDeck-Bold";
    src: url("../font/canelaDeck/CanelaDeck-Bold.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "mona-regular";
    src: url("../font/mona/MonaSans-Regular.woff2");
}

@font-face {
    font-family: "mona-semi-bold";
    src: url("../font/mona/MonaSans-SemiBold.woff2");
}

@font-face {
    font-family: "mona-semi-bold-italic";
    src: url("../font/mona/MonaSans-SemiBoldItalic.woff2");
}

@font-face {
    font-family: "mona-bold";
    src: url("../font/mona/MonaSans-Bold.woff2");
}